Microsoft.NET/SampleShopApplication/SampleShopApplication/obj/
Microsoft.NET/SampleShopApplication/packages/
Microsoft.NET/YenePaySDK/packages/
NodeJS\Sample Shop Application\SampleShopApplication\node_modules
